# Build
release/
debug/
*.o
*.obj
*.exe
moc_*.cpp
moc_predefs.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
object_script.*

# IDE
.vs/
.vscode/
*.user
*.pro.user*

# Qt
*.moc
ui_*.h
qrc_*.cpp

# OS
.DS_Store
Thumbs.db
